.nx-drawer-backdrop {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
}

.nx-drawer {
    background-color: var(--nx-color-surface);
    box-shadow: var(--nx-shadow-md);
    padding: var(--nx-space-4);
    width: 100%;
    max-width: 20rem;
    height: 100%;
    overflow-y: auto;
}

.nx-drawer[hidden] {
    display: none;
}
